/*
1. Posicionamiento
2. Modelo de caja (box model)
3. Tipografía
4. Efectos visuales
5. Otros
*/

@font-face {
    font-family: 'icomoon';
    src:  url('./fonts/icomoon.eot?raszhp');
    src:  url('./fonts/icomoon.eot?raszhp#iefix') format('embedded-opentype'),
      url('./fonts/icomoon.ttf?raszhp') format('truetype'),
      url('./fonts/icomoon.woff?raszhp') format('woff'),
      url('./fonts/icomoon.svg?raszhp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change. fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-menu:before {
    content: "\e904";
  }
  .icon-instagram:before {
    content: "\e906";
  }
  .icon-facebook:before {
    content: "\e907";
  }
  .icon-whatsapp:before {
    content: "\e905";
  }
:root {
    --dior-pink: #B2526B;
    --back-grey: #F6F6F6;
    --back-black: #201C1C;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(180deg, #B2526B 0%, rgba(255, 255, 255, 0) 22%), #F6F6F6;
    background-size: 100%;
    background-repeat: no-repeat;
}
.header-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: auto;
    transform: translateY(10vh);
    border: none;
}
.header-index img {
    max-width: 140px;
    height: 140px;
    align-self: center;
}
.header-title-container-index {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: auto;
    margin-top: 20px;
    text-align: center;
    align-self: center;
}
.header-index h1 {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2.4rem;
    color: #B69D6E;
    margin-bottom: 10px;
}
.header-index .header-subtitle {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.9rem;
    color: #B69D6E;
}
.main-menu-container-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-self: center;
    z-index: 101;
    width: fit-content;
    height: fit-content;
}
.header-page {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 80px;
    background-color: #F6F6F6;
    border: none;
    z-index: 102;
    box-shadow: 0px 4px 10px rgba(89, 73, 30, 0.1); ;
}
.header-big-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.header-logo {
    max-width: 62px;
    height: 62px;
}
.header-title-container {
    width: auto;
    height: auto;
    text-align: center;
}
header h1 {
    align-self: flex-end;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2.4rem;
    color: #B69D6E;
}
.ham {
    border-radius: 50%;
    display: block;
    width: 51px;
    height: 46px;
    line-height: 40px;
    text-align: center;
    color: #B69D6E;
    font-size: 19px;
    cursor: pointer;
    z-index: 103;
}
section {
  padding-top: 80px;
}
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    padding: 100px 0px;
    background-color: #f6f6f6ee;
    z-index: 101;
    top: 80px;
    right: -100vw;
    width:100vw;
    height: 90vh;
    transition: .5s;
}

.showNav {
    right: 0;
}
.showClose {
    right: -100vw;
}

.main-menu-container-button {
    align-self: center;
    width: 215px;
    height: 48px;
    margin-top: 20px;
    padding: 14px 0px;
    background-color: #F6F6F6;
    border: solid 1px #B2526B;
    border-radius: 8px;
    color: #B2526B;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2rem;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.3);
    text-decoration: none;
}
.main-menu-container-whatsapp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    width: 215px;
    height: auto;
    margin: 15px 0px 0px;
    padding: 5px 0px;
    color: #B2526B;
    font-size: 1.2rem;
    font-weight: 300;
    /* line-height: 1.4rem; */
    text-align: left;
    text-decoration: none;

}
.main-menu-container-whatsapp .whatsapp-button {
    width: 75%;
}
.main-menu-container-whatsapp .menu-logo-whatsapp {
    margin: 0px;
    width: 50px;
    height: 50px;
}
main {
    width: 100%;
    height: auto;
    background: #F7F7F7;
    border: none;
}
.main-products-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 10px 0;
    padding-top: 85px;
    background-color: #F6F6F6;
}

.main-products-container h2 {
    display: block;
    align-self: center;
    width: 90%;
    max-width: 855px;
    height: auto;
    margin: 0px 0px 25px 0px;
    margin-left: 1%;
    text-align: left;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 3rem;
    text-shadow: 0px 4px 4px rgba(107, 106, 106, 0.25);
}
.main-products-big-container,
.main-beautybox-big-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
    height: auto;
    margin: 0 auto;

}
.main-products-container-article {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 260px;
    height: 380px;
    margin-bottom: 40px;
    padding: 0px 20px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.products-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: -15px;
    top: -15px;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background-color: #B2526B;
}
.products-circle .send{
    margin: 0px;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #F6F6F6;
    text-align: center;
}
.main-products-container-article img {
    display: block;
    align-self: center;
    width: 90%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}
.main-products-container-article h4 {
    display: block;
    align-self: left;
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.7rem;
    color: #201C1C;
    text-transform: uppercase;
}
.main-products-container-article p {
    display: block;
    align-self: left;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.4rem;
    color: #201C1C;
}
.main-products-container-article .products-price {
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.1rem;
}
.products-button {
    display: flex;
    align-self: center;
    width: 114px;
    height: 30px;
    margin: 15px auto 0px;
    padding: 5px 22px;
    background: #FFFFFF;
    border: 1px solid #B2526B;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #B2526B;
}
.main-beautybox-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 30px 0;
    padding-top: 85px;
    background:linear-gradient(180deg, #B2526B 0%, rgba(255, 255, 255, 0) 22.92%), linear-gradient(180deg, #F6F6F6 90.3%, #C5A58C 100%);
}
.main-beautybox-container h2 {
    align-self: center;
    width: 90%;
    max-width: 855px;
    height: auto;
    margin: 25px 0px;
    margin-left: 1%;
    text-align: left;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 3rem;
    text-shadow: 0px 4px 4px rgba(107, 106, 106, 0.90);
    color: #F6F6F6;
}
.beautybox-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: -15px;
    top: -15px;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background-color: #F6F6F6;
}
.beautybox-circle .send{
    margin: 0px;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #B2526B;
    text-align: center;
}
.main-gift-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 80px 0px;
    background-color: #F6F6F6;
}
.main-gift-big-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 20px 0px;
    background-color: #F6F6F6;
}
.gift-text {
    align-self: center;
    margin-top: 40px;
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.7rem;
    text-align: center;
    color: #201C1C;
}
.gift-text b {
    color: #B2526B;
}
.gift-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gift-image {
    align-self: center;
    margin: 20px 0px;
    width: 115px;
    height: 127px;
}
.main-gift-container a {
    display: flex;
    align-self: center;
    width: 114px;
    height: 30px;
    margin: 25px auto 0px;
    padding: 6px 20px;
    background: #FFFFFF;
    border: 1px solid #B2526B;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #B2526B;
    line-height: 1.4rem;
}
footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    width: 100%;
    height: 180px;
    background-color: #B2526B;
}
.footer-logo {
    width: 80px;
    height: 80px;
}
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin: 5px 0px;
    padding-top: 10px;
    width: 85px;
    height: 74px;
}
.hashtag {
   font-size: 1.2rem;
   font-weight: 400;
   text-align: right;
   color: #F7F7F7;
}
.footer-meddia-logos {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 85px;
    height: auto;
}
.meddia-logo {
    font-size: 2rem;
    color: #F6F6F6;
    text-decoration: none;
}
footer a {
    text-decoration: none;
}


@media screen and (min-width: 320px) {}
@media screen and (min-width: 479px) {
    .main-products-container-article{
        margin-right: 25px;
    }
}
@media screen and (min-width: 767px) {
    .header-title-container {
        zoom: 1.5;
    }
    .main-gift-big-container {
        align-self: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        max-width: 770px;
        height: 450px;
    }
    .gift-text {
        margin: 0px;
        zoom: 1.5;
    }
    .main-gift-big-container img {
        zoom: 1.5;
    }
    .main-gift-big-container a {
        zoom: 1.5;
    }
}
@media screen and (min-width: 1024px) {}
